.login {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.aboutProject {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background-color: #b8dfd8;
}

.aboutProject > img {
  width: 80%;
}
.aboutProject > h1 {
  color: #7c83fd;
  font-weight: 400;
  letter-spacing: 10px;
}
.aboutProject > p {
  text-align: left;
  width: 50%;
  margin: 20px auto;
  color: #515e63;
}

.login_section {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
  background-color: rgb(166, 166, 185);
  color: brown;
}
